/*---------------General---------------*/

body{
	height:100vh;
	display:grid;
	margin:0;
	font-family:Lora;
}

ul {
	list-style: none;
}

ul li {
	margin-bottom: 10px;
	text-decoration: underline;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color:black;
}

.nav a:hover {
	font-style: italic;
	color:black;
}

.social{
	grid-area: nav;
	align-self:end;
	margin:0;
	padding:0;
	text-align:right;
}

.social a:hover{
	color:#9b7963;
}



/*---------------Home Page---------------*/

.artistprofile {
	margin: 0 auto;
	width: 700px;
	display: grid;
	grid-template-columns: 3fr 2fr 1fr;
	grid-gap: 15px;
	grid-template-areas: "sidebar main nav";
	align-self:center;
}

.photo {
	grid-area: sidebar;
}

.bio {
	grid-area: main;
	align-self: end;
	padding-left:20px;
}

.nav {
	grid-area: nav;
}

img {
	float: left;
	display: inline-block;}

.bio h1 {
	font-size: 110px !important;
	font-weight:normal !important;
	font-family: 'Dancing Script', cursive;
	color: #9b7963;
	margin:0px;
}

.bio p{
	font-size: 14px;
	line-height:19px;
	margin:0px;
}


/*---------------Events---------------*/

.events {
	margin: 0 auto;
	width: 700px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 15px;
	grid-template-areas: "main nav";
	align-self:center;
	height:503px !important;
}

.dates {
	grid-area: main;
}

.nav {
	grid-area: nav;
}

.dates h1{
	color:#9b7963;
}

/*---------------Videos---------------*/

.video {
	margin: 0 auto;
	width: 700px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 15px;
	grid-template-areas: "main nav";
	align-self:center;
	height:450px !important;
}

.ytubevideo {
	grid-area: main;
	align-self:center;
}

.nav {
	grid-area: nav;
}

/*---------------Media Queries---------------*/

@media (min-width: 768px) {
	ul {
		text-align: right;
	}
}

@media (max-width: 767px) {
	.artistprofile {
		grid-template-columns: 1fr;
		grid-template-areas: "nav" "sidebar" "main" "social";
		width: 100%;
	}

	.photo{
		margin:0 auto !important;}

	.nav{
		grid-area:nav;
		margin:0 auto;
		text-align:center;
	}

	ul{
		margin:20px 0 0 0;
		padding:0;
	}

	.nav ul li{
		margin-bottom:20px;
	}

	.social{
		grid-area:social;
		margin:0 auto !important;
		padding:0;
		width:100%;
		text-align:center;
	}

	.social a{
		display:inline-block;
		padding:0 10px;
		margin-bottom:20px;
	}

	.bio{
	text-align:center;
	width:200px;
	margin: 0 auto;
	padding-left:0px !important;
	}

	.events{
		grid-template-columns: 1fr;
		grid-template-areas: "nav" "main" "social";
		width: 100%;
	}

	.dates{
	text-align:center;
	width:200px;
	margin: 0 auto;
	}

	.video{
		grid-template-columns: 1fr;
		grid-template-areas: "nav" "main" "social";
		width: 100%;
	}

	.ytubevideo{
		width:100%;

	}


}

}
